.inMiddenVraag{
  text-align: center;
  position: relative;
}
.fullSizeVraag{
  font-size: 150%;
}

*{
  font-family: Roboto;
}
.arrowDown{
  font-size: 200%;
  transform: rotate(90deg);
  margin-top: 10vh;
  padding: 0;
}
.arrowUp{
  font-size: 200%;
  transform: rotate(90deg);
  margin-bottom: 10vh;
}
