html{
  height: 100vh;
}

.scrollclass{
  width: 100vh;
  height: 100vh;
  display: block;
}
#fullSizeVraag{
  width: 100%;
  height: 100vh;
}
#inMiddenVraag{
  margin: 0 auto;
  margin-top: 40%;

}

.navbar{
  background-color: #212121;
  color: white;
}
.navbar a{
  color: white;
  color: inherit;
}
.nav-link{
  color: white !important;
}
